<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Descriptions</key>
	<array>
		<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus elementum nibh sit amet rhoncus pellentesque. Vivamus tortor purus, viverra at adipiscing sed, porttitor at mi. Cras et felis placerat, varius diam non, ornare tortor. Pellentesque interdum, risus a malesuada consequat, urna dui adipiscing est, sed vehicula dui risus eget nulla. Maecenas malesuada eu magna placerat laoreet. Ut in molestie nisi. Mauris a luctus sapien, vitae placerat ante. Pellentesque laoreet facilisis mattis. Fusce porttitor eros et metus bibendum condimentum. Donec tortor quam, fringilla quis quam eu, malesuada sodales turpis. Sed porta felis ut mauris tempus, fermentum pharetra libero faucibus.</string>
		<string>Curabitur aliquam tincidunt metus, malesuada pellentesque mi. Sed cursus feugiat felis id tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque lacinia vel nisl eget iaculis. Phasellus tincidunt erat metus, at tincidunt magna vehicula et. Donec quis ligula et turpis convallis tincidunt. In at pellentesque ligula, et dictum massa. Integer ullamcorper aliquet orci non sodales. Suspendisse vel sem ante. Vivamus gravida lectus ac ante tempus adipiscing. Sed consequat erat in tortor scelerisque condimentum.</string>
		<string>Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
		<string>Praesent blandit mauris vel nisl egestas eleifend. Nunc a dolor neque. Sed ac leo magna. Maecenas posuere turpis eget turpis auctor iaculis id eget augue. Pellentesque vitae dui venenatis, posuere magna eget, sagittis sapien. Vestibulum auctor imperdiet elit, non aliquam tortor hendrerit eu. Aliquam erat volutpat. Suspendisse quis ipsum eu nunc commodo vulputate ac nec nunc. Ut pretium ipsum sit amet venenatis pellentesque. Pellentesque lacinia, justo id tincidunt commodo, orci dolor imperdiet ante, ut suscipit ante erat eu massa. Pellentesque eu libero enim. Mauris ut nulla eros.</string>
		<string>Nunc at laoreet diam. Vivamus lacinia vitae sem imperdiet laoreet. Nam elit ligula, varius quis nunc et, egestas lobortis orci. Aenean non massa ac velit consectetur dapibus. Ut placerat non ipsum sed laoreet. Proin at turpis a diam hendrerit pellentesque. Proin suscipit rhoncus metus, in tristique urna hendrerit ac. Maecenas a dolor cursus, tincidunt metus eu, lobortis eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla laoreet placerat.</string>
		<string>Donec a adipiscing tortor. Vivamus id laoreet nisi. Pellentesque dignissim, ipsum a molestie gravida, mi arcu lobortis orci, id vestibulum mi tortor ut quam. Donec nisi nisl, condimentum fringilla felis sed, adipiscing molestie risus. Sed nisl nibh, ullamcorper id consequat quis, sollicitudin sit amet nunc. Sed nec augue in erat dictum tempor. Aliquam sed ultrices dui. Nam metus enim, mollis non massa sed, ultricies pellentesque tortor. Sed magna felis, condimentum in tempus vel, ultricies a justo. Vestibulum rutrum laoreet enim, ut malesuada orci molestie viverra. Duis non adipiscing ipsum. Maecenas consectetur mollis risus nec scelerisque. Cras non augue pharetra, mollis sapien sed, tempor massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin id faucibus ante, nec cursus justo.</string>
		<string>Etiam sollicitudin, eros mattis gravida egestas, turpis metus euismod nibh, ac fermentum justo enim id orci. Cras egestas consectetur tincidunt. Donec congue tempor diam vitae elementum. Donec interdum, augue at vulputate accumsan, metus nisi blandit dolor, nec egestas dolor nulla et velit. Morbi varius ac mauris vitae scelerisque. Proin neque augue, porttitor id sodales in, tempor vel nulla. Integer vulputate massa risus, lobortis tempus erat egestas a. Sed tempor, risus vitae blandit dapibus, mauris nisl rutrum velit, nec semper sem urna sed nibh. Nullam ut lorem eu turpis dignissim porttitor. Quisque a ornare ante, vitae laoreet lectus. Nullam quis tempor magna, ut tincidunt dui. Cras vestibulum rhoncus libero, vel tristique nulla feugiat sed. Praesent fermentum, turpis non sagittis imperdiet, nibh quam tempor erat, vel facilisis dui dui eu diam. Nulla facilisi.</string>
		<string>Quisque ullamcorper, diam quis lobortis commodo, nibh velit condimentum arcu, ac laoreet est tellus ut sem. Fusce in dui enim. Mauris luctus nunc sit amet arcu luctus, et scelerisque nulla rutrum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed mollis orci a nulla ullamcorper faucibus. Cras ultricies orci at tellus pellentesque ultricies vitae et velit. Sed ac suscipit nibh. Maecenas auctor pretium arcu et pretium. Sed dictum semper nunc at eleifend. Aliquam nec augue ut dolor pulvinar lobortis et id lectus. Cras orci leo, feugiat et sapien ac, pretium posuere tellus.</string>
		<string>Morbi molestie non ligula at aliquet. Sed fringilla rutrum dignissim. Vivamus sit amet dolor dictum ante pellentesque lobortis. Sed sagittis dignissim elementum. Cras vitae convallis lectus. Nam bibendum turpis eget dui placerat venenatis. Quisque auctor, lectus eget feugiat vulputate, tellus ipsum condimentum odio, non pellentesque nulla nunc nec lorem. In ac interdum ligula. Donec condimentum tincidunt neque, in dapibus enim ultricies non. Fusce dictum accumsan volutpat. Ut feugiat velit diam, a porta orci lacinia vel. Pellentesque pellentesque id leo in ultrices.</string>
		<string>Etiam egestas vel felis sed cursus. Nunc sed vulputate sapien, nec congue lectus. Curabitur pellentesque, justo non ornare rhoncus, massa nulla consectetur neque, ac mattis odio mi a neque. Morbi bibendum quam ipsum, egestas imperdiet diam lacinia sit amet. Maecenas volutpat mauris quis diam elementum tincidunt. Vestibulum cursus mauris sit amet odio egestas imperdiet. Donec rhoncus auctor pellentesque. Ut molestie imperdiet urna at placerat. Ut sit amet magna mauris.</string>
		<string>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam vitae mi turpis. Duis volutpat turpis at quam consectetur, ac blandit purus pretium. Sed interdum sollicitudin quam, eget consectetur nisi accumsan non. Mauris adipiscing et velit in mollis. Cras sagittis id diam vitae luctus. Nunc condimentum tellus eu nibh varius vulputate. Nullam tincidunt leo quis ante malesuada, nec mattis mi luctus. Aenean molestie venenatis mattis. Aliquam tortor leo, fermentum vitae sem non, adipiscing tincidunt justo. In ut nunc justo. Proin felis ligula, mattis a enim vel, rutrum dignissim nibh. Mauris et tortor tellus. Nam ut risus a purus facilisis blandit in sagittis elit. Nam ultricies magna sed arcu pharetra interdum.</string>
		<string>Suspendisse ultrices nibh et metus mollis, vitae vulputate ante sollicitudin. Duis sagittis ligula massa, quis tincidunt nulla suscipit sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec viverra turpis eget dictum vestibulum. Donec sit amet turpis ut turpis dictum adipiscing auctor volutpat sapien. Curabitur nulla lorem, faucibus in dolor et, mollis lacinia turpis. Aenean vel arcu libero. Integer nec sodales nibh. Ut quis tortor purus.</string>
		<string>Praesent vestibulum sagittis ante, nec convallis nibh imperdiet dignissim. Nulla lectus ligula, blandit nec nunc a, convallis porta justo. Nunc consectetur erat eget molestie viverra. Fusce iaculis lectus et lobortis cursus. Phasellus et egestas ipsum. Morbi scelerisque dui et orci dapibus, nec interdum elit feugiat. Pellentesque mattis orci id magna commodo, sit amet elementum sem semper. Nam nec urna lorem. Donec mollis nisl velit, nec eleifend ante congue eu. Cras tempus feugiat enim, quis consectetur eros fringilla id. Aenean lectus dolor, sagittis quis magna a, feugiat auctor augue.</string>
		<string>Pellentesque enim diam, vehicula vel faucibus sed, laoreet non augue. Maecenas euismod malesuada arcu eget interdum. Morbi porta lacus sit amet laoreet malesuada. Aenean quis tempus mauris, et lobortis mauris. Integer condimentum neque sed lacus molestie, ut semper quam varius. Quisque hendrerit odio non est euismod feugiat. Vestibulum leo libero, feugiat ac faucibus sed, pellentesque sed enim. Integer nec urna in ipsum ultricies commodo convallis a lectus. In lorem odio, rhoncus sed interdum eu, euismod non dolor. Ut pharetra eu mauris a viverra.</string>
		<string>Morbi et tortor sit amet lorem porta fermentum. Proin nec dolor arcu. Duis placerat tincidunt arcu non lacinia. In interdum sapien a diam auctor, eget tincidunt libero lobortis. Duis ut orci et nunc consectetur sollicitudin et sed risus. Nullam ac accumsan nisi. Vestibulum at velit quis justo posuere tincidunt.</string>
		<string>Aliquam sed laoreet magna. Curabitur ultrices sapien nisl, eu egestas purus blandit in. Donec non semper tellus. Praesent pellentesque lectus a felis viverra, id euismod orci sollicitudin. Mauris vestibulum dapibus tellus quis pulvinar. Aenean in malesuada orci, vel commodo mauris. Praesent non urna auctor, auctor orci id, commodo sem. Etiam semper lobortis nibh, non pellentesque sapien cursus vitae. Fusce ligula justo, euismod eu aliquam eu, iaculis vel risus. Sed quis dui lacinia, sagittis ante ac, congue orci. Donec tempor enim mauris, quis varius dui adipiscing et.</string>
		<string>Duis varius, nisi in commodo iaculis, enim libero porta ipsum, a vestibulum erat nisi eget felis. Cras quis diam quis nunc mollis egestas. Nam sit amet sapien ut arcu vehicula condimentum. Mauris ornare, purus sit amet auctor pretium, ligula felis ullamcorper arcu, non bibendum lorem turpis eget libero. Sed ut dapibus ipsum. Vestibulum porta ultricies mauris, eget laoreet tortor tristique a. Integer ultrices tellus ullamcorper auctor lobortis. Nullam ultrices nisl at turpis tempus tempor. Cras ut rutrum sapien. Integer iaculis urna ut quam posuere fermentum. In sit amet libero id nisl gravida egestas. Nullam in quam urna. Sed euismod venenatis aliquet. Praesent sed blandit eros. Nam dapibus laoreet ipsum quis blandit.</string>
		<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus elementum nibh sit amet rhoncus pellentesque. Vivamus tortor purus, viverra at adipiscing sed, porttitor at mi. Cras et felis placerat, varius diam non, ornare tortor. Pellentesque interdum, risus a malesuada consequat, urna dui adipiscing est, sed vehicula dui risus eget nulla. Maecenas malesuada eu magna placerat laoreet. Ut in molestie nisi. Mauris a luctus sapien, vitae placerat ante. Pellentesque laoreet facilisis mattis. Fusce porttitor eros et metus bibendum condimentum. Donec tortor quam, fringilla quis quam eu, malesuada sodales turpis. Sed porta felis ut mauris tempus, fermentum pharetra libero faucibus.</string>
		<string>Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
		<string>Nunc at laoreet diam. Vivamus lacinia vitae sem imperdiet laoreet. Nam elit ligula, varius quis nunc et, egestas lobortis orci. Aenean non massa ac velit consectetur dapibus. Ut placerat non ipsum sed laoreet. Proin at turpis a diam hendrerit pellentesque. Proin suscipit rhoncus metus, in tristique urna hendrerit ac. Maecenas a dolor cursus, tincidunt metus eu, lobortis eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla laoreet placerat.</string>
		<string>Etiam sollicitudin, eros mattis gravida egestas, turpis metus euismod nibh, ac fermentum justo enim id orci. Cras egestas consectetur tincidunt. Donec congue tempor diam vitae elementum. Donec interdum, augue at vulputate accumsan, metus nisi blandit dolor, nec egestas dolor nulla et velit. Morbi varius ac mauris vitae scelerisque. Proin neque augue, porttitor id sodales in, tempor vel nulla. Integer vulputate massa risus, lobortis tempus erat egestas a. Sed tempor, risus vitae blandit dapibus, mauris nisl rutrum velit, nec semper sem urna sed nibh. Nullam ut lorem eu turpis dignissim porttitor. Quisque a ornare ante, vitae laoreet lectus. Nullam quis tempor magna, ut tincidunt dui. Cras vestibulum rhoncus libero, vel tristique nulla feugiat sed. Praesent fermentum, turpis non sagittis imperdiet, nibh quam tempor erat, vel facilisis dui dui eu diam. Nulla facilisi.</string>
		<string>Suspendisse ultrices nibh et metus mollis, vitae vulputate ante sollicitudin. Duis sagittis ligula massa, quis tincidunt nulla suscipit sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec viverra turpis eget dictum vestibulum. Donec sit amet turpis ut turpis dictum adipiscing auctor volutpat sapien. Curabitur nulla lorem, faucibus in dolor et, mollis lacinia turpis. Aenean vel arcu libero. Integer nec sodales nibh. Ut quis tortor purus.</string>
		<string>Pellentesque enim diam, vehicula vel faucibus sed, laoreet non augue. Maecenas euismod malesuada arcu eget interdum. Morbi porta lacus sit amet laoreet malesuada. Aenean quis tempus mauris, et lobortis mauris. Integer condimentum neque sed lacus molestie, ut semper quam varius. Quisque hendrerit odio non est euismod feugiat. Vestibulum leo libero, feugiat ac faucibus sed, pellentesque sed enim. Integer nec urna in ipsum ultricies commodo convallis a lectus. In lorem odio, rhoncus sed interdum eu, euismod non dolor. Ut pharetra eu mauris a viverra.</string>
		<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus elementum nibh sit amet rhoncus pellentesque. Vivamus tortor purus, viverra at adipiscing sed, porttitor at mi. Cras et felis placerat, varius diam non, ornare tortor. Pellentesque interdum, risus a malesuada consequat, urna dui adipiscing est, sed vehicula dui risus eget nulla. Maecenas malesuada eu magna placerat laoreet. Ut in molestie nisi. Mauris a luctus sapien, vitae placerat ante. Pellentesque laoreet facilisis mattis. Fusce porttitor eros et metus bibendum condimentum. Donec tortor quam, fringilla quis quam eu, malesuada sodales turpis. Sed porta felis ut mauris tempus, fermentum pharetra libero faucibus.</string>
		<string>Etiam sollicitudin, eros mattis gravida egestas, turpis metus euismod nibh, ac fermentum justo enim id orci. Cras egestas consectetur tincidunt. Donec congue tempor diam vitae elementum. Donec interdum, augue at vulputate accumsan, metus nisi blandit dolor, nec egestas dolor nulla et velit. Morbi varius ac mauris vitae scelerisque. Proin neque augue, porttitor id sodales in, tempor vel nulla. Integer vulputate massa risus, lobortis tempus erat egestas a. Sed tempor, risus vitae blandit dapibus, mauris nisl rutrum velit, nec semper sem urna sed nibh. Nullam ut lorem eu turpis dignissim porttitor. Quisque a ornare ante, vitae laoreet lectus. Nullam quis tempor magna, ut tincidunt dui. Cras vestibulum rhoncus libero, vel tristique nulla feugiat sed. Praesent fermentum, turpis non sagittis imperdiet, nibh quam tempor erat, vel facilisis dui dui eu diam. Nulla facilisi.</string>
		<string>Pellentesque enim diam, vehicula vel faucibus sed, laoreet non augue. Maecenas euismod malesuada arcu eget interdum. Morbi porta lacus sit amet laoreet malesuada. Aenean quis tempus mauris, et lobortis mauris. Integer condimentum neque sed lacus molestie, ut semper quam varius. Quisque hendrerit odio non est euismod feugiat. Vestibulum leo libero, feugiat ac faucibus sed, pellentesque sed enim. Integer nec urna in ipsum ultricies commodo convallis a lectus. In lorem odio, rhoncus sed interdum eu, euismod non dolor. Ut pharetra eu mauris a viverra.</string>
		<string>Aliquam sed laoreet magna. Curabitur ultrices sapien nisl, eu egestas purus blandit in. Donec non semper tellus. Praesent pellentesque lectus a felis viverra, id euismod orci sollicitudin. Mauris vestibulum dapibus tellus quis pulvinar. Aenean in malesuada orci, vel commodo mauris. Praesent non urna auctor, auctor orci id, commodo sem. Etiam semper lobortis nibh, non pellentesque sapien cursus vitae. Fusce ligula justo, euismod eu aliquam eu, iaculis vel risus. Sed quis dui lacinia, sagittis ante ac, congue orci. Donec tempor enim mauris, quis varius dui adipiscing et.</string>
		<string>Curabitur aliquam tincidunt metus, malesuada pellentesque mi. Sed cursus feugiat felis id tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque lacinia vel nisl eget iaculis. Phasellus tincidunt erat metus, at tincidunt magna vehicula et. Donec quis ligula et turpis convallis tincidunt. In at pellentesque ligula, et dictum massa. Integer ullamcorper aliquet orci non sodales. Suspendisse vel sem ante. Vivamus gravida lectus ac ante tempus adipiscing. Sed consequat erat in tortor scelerisque condimentum.</string>
	</array>
	<key>Images</key>
	<array>
		<string>img0.jpeg</string>
		<string>img1.jpeg</string>
		<string>img2.jpeg</string>
		<string>img3.jpeg</string>
		<string>img4.jpeg</string>
		<string>img5.jpeg</string>
		<string>img6.jpeg</string>
		<string>img7.jpeg</string>
		<string>img8.jpeg</string>
		<string>img9.jpeg</string>
		<string>img10.jpeg</string>
		<string>img11.jpeg</string>
		<string>img12.jpeg</string>
		<string>img13.jpeg</string>
		<string>img14.jpeg</string>
		<string>img15.jpeg</string>
		<string>img16.jpeg</string>
		<string>img17.jpeg</string>
		<string>img18.jpeg</string>
		<string>img19.jpeg</string>
		<string>img20.jpeg</string>
		<string>img21.jpeg</string>
		<string>img22.jpeg</string>
		<string>img23.jpeg</string>
		<string>img24.jpeg</string>
		<string>img25.jpeg</string>
		<string>img26.jpeg</string>
		<string>img27.jpeg</string>
	</array>
	<key>Captions</key>
	<array>
		<string>Near Start of Jour Ouvert</string>
		<string>Near End of Jour Ouvert</string>
		<string>Kiddies Carnival 1</string>
		<string>Kiddies Carnival 2</string>
		<string>Soca Artist Fay-Ann Lyons-Alvarez</string>
		<string>Soca Artist Destra Garcia</string>
		<string>Moko Jumbies</string>
		<string>Steelpan</string>
		<string>Beach Sunset</string>
		<string>Overlooking City</string>
		<string>Performing Arts Centre</string>
		<string>Fort George</string>
		<string>Port-of-Spain Street</string>
		<string>Maracus Beach</string>
		<string>Oil City Down South</string>
		<string>Industry In South</string>
		<string>Pitch Lake</string>
		<string>Men Moko Jumbies Dancing</string>
		<string>Women Moko Jumbies Dancing</string>
		<string>Kiddies Carnival Child Posing for Camera</string>
		<string>Traditional Bat Mas</string>
		<string>Soca Artist Scrunter</string>
		<string>Soca Artist Iwer George</string>
		<string>Carnival Monday</string>
		<string>Carnival Tuesday</string>
		<string>Individual of The Band</string>
		<string>Famous Comedienne Rachel Price</string>
		<string>Tired But Still Performing</string>
	</array>
</dict>
</plist>
