<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>img0.jpeg</string>
		<key>caption</key>
		<string>Near Start of Jour Ouvert</string>
		<key>description</key>
		<string>(Near Start of Jour Ouvert) Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img1.jpeg</string>
		<key>caption</key>
		<string>Near End of Jour Ouvert</string>
		<key>description</key>
		<string>(Near End of Jour Ouvert) Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img2.jpeg</string>
		<key>caption</key>
		<string>Kiddies Carnival 1</string>
		<key>description</key>
		<string>(Kiddies Carnival 1) Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img3.jpeg</string>
		<key>caption</key>
		<string>Kiddies Carnival 2</string>
		<key>description</key>
		<string>(Kiddies Carnival 2) Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img4.jpeg</string>
		<key>caption</key>
		<string>Soca Artist Fay-Ann Lyons-Alvarez</string>
		<key>description</key>
		<string>(Soca Artist Fay-Ann Lyons-Alvarez) Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img5.jpeg</string>
		<key>caption</key>
		<string>Soca Artist Destra Garcia</string>
		<key>description</key>
		<string>(Soca Artist Destra Garcia) Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img6.jpeg</string>
		<key>caption</key>
		<string>Moko Jumbies</string>
		<key>description</key>
		<string>(Moko Jumbies) Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img7.jpeg</string>
		<key>caption</key>
		<string>Steelpan</string>
		<key>description</key>
		<string>(Steelpan) Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img8.jpeg</string>
		<key>caption</key>
		<string>Beach Sunset</string>
		<key>description</key>
		<string>(Beach Sunset) Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img9.jpeg</string>
		<key>caption</key>
		<string>Overlooking City</string>
		<key>description</key>
		<string>(Overlooking City) Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img10.jpeg</string>
		<key>caption</key>
		<string>Performing Arts Centre</string>
		<key>description</key>
		<string>(Performing Arts Centre) Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img11.jpeg</string>
		<key>caption</key>
		<string>Fort George</string>
		<key>description</key>
		<string>(Fort George) Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img12.jpeg</string>
		<key>caption</key>
		<string>Port-of-Spain Street</string>
		<key>description</key>
		<string>(Port-of-Spain Street) Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img13.jpeg</string>
		<key>caption</key>
		<string>Maracus Beach</string>
		<key>description</key>
		<string>(Maracus Beach) Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img14.jpeg</string>
		<key>caption</key>
		<string>Oil City Down South</string>
		<key>description</key>
		<string>(Oil City Down South) Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img15.jpeg</string>
		<key>caption</key>
		<string>Industry In South</string>
		<key>description</key>
		<string>(Industry In South) Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img16.jpeg</string>
		<key>caption</key>
		<string>Pitch Lake</string>
		<key>description</key>
		<string>(Pitch Lake) Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img17.jpeg</string>
		<key>caption</key>
		<string>Men Moko Jumbies Dancing</string>
		<key>description</key>
		<string>(Men Moko Jumbies Dancing) Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img18.jpeg</string>
		<key>caption</key>
		<string>Women Moko Jumbies Dancing</string>
		<key>description</key>
		<string>(Women Moko Jumbies Dancing) Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img19.jpeg</string>
		<key>caption</key>
		<string>Kiddies Carnival Child Posing</string>
		<key>description</key>
		<string>(Kiddies Carnival Child Posing) Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img20.jpeg</string>
		<key>caption</key>
		<string>Traditional Bat Mas</string>
		<key>description</key>
		<string>(Traditional Bat Mas) Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img21.jpeg</string>
		<key>caption</key>
		<string>Soca Artist Scrunter</string>
		<key>description</key>
		<string>(Soca Artist Scrunter) Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img22.jpeg</string>
		<key>caption</key>
		<string>Soca Artist Iwer George</string>
		<key>description</key>
		<string>(Soca Artist Iwer George) Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img23.jpeg</string>
		<key>caption</key>
		<string>Carnival Monday</string>
		<key>description</key>
		<string>(Carnival Monday) Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img24.jpeg</string>
		<key>caption</key>
		<string>Carnival Tuesday</string>
		<key>description</key>
		<string>(Carnival Tuesday) Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img25.jpeg</string>
		<key>caption</key>
		<string>Individual of The Band</string>
		<key>description</key>
		<string>(Individual of The Band) Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img26.jpeg</string>
		<key>caption</key>
		<string>Comedienne Rachel Price</string>
		<key>description</key>
		<string>(Comedienne Rachel Price) Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
	</dict>
	<dict>
		<key>image</key>
		<string>img27.jpeg</string>
		<key>caption</key>
		<string>Tired But Still Performing</string>
		<key>description</key>
		<string>(Tired But Still Performing) Aliquam porta fringilla sem, eu iaculis nulla rhoncus at. Duis blandit massa vel odio feugiat, eget laoreet ante ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris vestibulum adipiscing nunc. Nunc pulvinar purus arcu, eget pharetra diam ultricies ac. Praesent non leo congue, pretium diam at, mattis diam. Vestibulum suscipit elementum semper. Nunc eget diam imperdiet, volutpat velit ac, rutrum nisi. Cras quis consequat nunc, venenatis aliquam ligula. Suspendisse mattis vehicula elementum. Quisque molestie pulvinar congue. Etiam elementum porttitor sagittis. In non blandit lorem.</string>
	</dict>
</array>
</plist>
